<button mat-raised-button color="primary" (click)="addSchema()" id="add-button">Add New Schema</button>
<div class="schemas-list">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let schema of schemas.reverse()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="schema-subject code">{{schema.subject}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span class="code">
        {{schema.schema}}
      </span>
    </mat-expansion-panel>
  </mat-accordion>
</div>