<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form class="schema" [formGroup]="schemaForm">
    <div>
      <mat-form-field class="subject-input code">
        <mat-label>Subject</mat-label>
        <input matInput placeholder="MySchema" formControlName="subject" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="schema-input code" appearance="fill">
        <mat-label>Schema</mat-label>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="15" cdkAutosizeMaxRows="15"
          formControlName="schema" required></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="create()" [disabled]="!schemaForm.valid">{{ confirmCaption }}</button>
  <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
</div>