.main {
  padding: 2vh 5vh 2vh 5vh;
  margin: 20px 0px 0 0px;
  background: #a300ff0d;
  border-radius: 10px;
}

.form-container {
  width: 500px;
}

.subject-input {
  width: 100%;
}

.schema-input {
  width: 100%;
}

button {
  margin-right: 10px;
}