<div class="container">
  <div class="item tabs">
    <mat-tab-group>
      <mat-tab label="Schemas" class="tab-content">
        <div class="tab-content">
          <app-schemas></app-schemas>
        </div>
      </mat-tab>
      <mat-tab label="Producer">
        <div class="tab-content">
          <app-message></app-message>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="notifications item">
    <app-notifications></app-notifications>
  </div>
  <div class="code">
    <span class="app-name">kaffi 👏</span><span class="separator">__</span>eliavlavi<span class="separator">_</span>2020
  </div>
</div>