.container {
  height: 90%;
  padding: 45px 350px;
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin-bottom: 1vh;
}

.tabs {
  flex: 4;
  overflow-y: scroll;
}

.tab-content {
  padding: 3vh 2vw;
  // background: rgb(193, 193, 193);
}

.notifications {
  flex: 1;
  border-radius: 5px;
  overflow-y: scroll;
}
