.container {
  height: 100%;
  margin: 0px 350px 0px 350px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
}

.item {
  margin-bottom: 1vh;
}

.tabs {
  flex: 16 0 auto;
  overflow-y: scroll;
}

.tab-content {
  padding: 3vh 2vw;
  // background: rgb(193, 193, 193);
}

.notifications {
  flex: 4 0 auto;
  overflow-y: scroll;
  height: 10%;
}

.footer {
  flex: 1 0 auto;
}

.app-name {
  letter-spacing: 7px;
  margin-right: 40px;
  font-weight: bold;
}

.separator {
  letter-spacing: -3px;
  margin: 0px 40px;
}