<form class="message-form" [formGroup]="messageForm">
  <div>
    <mat-form-field class="code schema">
      <mat-label>Schema</mat-label>
      <mat-select formControlName="schema" required>
        <mat-option *ngFor="let schema of schemas" [value]="schema.name">{{schema.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="code topic">
      <mat-label>Topic</mat-label>
      <input matInput placeholder="topic" formControlName="topic" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="code key">
      <mat-label>Key</mat-label>
      <input matInput formControlName="key" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="code payload" appearance="fill">
      <mat-label>Payload</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="10" cdkAutosizeMaxRows="18" formControlName="payload"
        required></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="produce()" [disabled]="!messageForm.valid">Produce</button>
  </div>
</form>