.main {
  padding: 2vh 5vh 2vh 5vh;
  margin: 20px 0px 0 0px;
  background: #a300ff0d;
  border-radius: 10px;
}

.form-container {
  width: 500px;
}

.schema {
  width: 33%;
}

.topic {
  width: 33%;
}

.key {
  width: 33%;
}

.payload {
  width: 100%
}

button {
  margin-right: 10px;
}