.main {
  padding: 2vh 5vh 2vh 5vh;
  margin: 20px 0px 0 0px;
  background: #a300ff0d;
  border-radius: 10px;
}

.form-container {
  width: 500px;
}

.schema {
  width: 50%;
}

.topic {
  width: 50%;
}

.payload {
  width: 88%
}

button {
  margin-right: 10px;
  margin-left: 10px;
}

.radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}