.notifications {
  height: 80%;
  padding: 10px 15px;
  background: #f2f2f2bf;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 10px;
  overflow-y: scroll;
}

.time {
  color: #673ab7;
}